.container{
    border: rgb(159, 161, 156) solid;
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    width: 500px;

    margin-left: 35%;
    margin-top: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input.ng-invalid.ng-touched{
  border-color: red;
}
.invalid{
  border-color: red;
}
