<div style="position:relative; left: 35%; top: -50%; width: 60%; height: 25%;">
    <table mat-table [dataSource] = "studentSource" class="mat-elevation-z8">

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email.</th>
        <td mat-cell *matCellDef="let element"> {{element.email}}</td>
      </ng-container>


      <ng-container matColumnDef="ids">
        <th mat-header-cell *matHeaderCellDef>Professor ID.</th>
        <td mat-cell *matCellDef="let element"> {{element.ids}}</td>
      </ng-container>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>View Profile</th>
        <td mat-cell *matCellDef="let element"><button routerLink='studentProfile' class="btn btn-primary"> {{element.select}} </button></td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayStudents"></tr>
      <tr mat-row *matRowDef="let row; columns: displayStudents"></tr>

    </table>
    <router-outlet ></router-outlet>
    
    
</div>