
<div class="profileDiv" >

    <div class="cards" style="height: 500px; width: 700px;">
        <div class="card-body">
          <h1 class="card-title" style="margin-left: 10px; color: white;"><strong><i>Payments</i></strong></h1>
          <div class="innerClass">
            <h2><i> <strong>Bank Name</strong> :    XX Bank</i></h2>
            <h2><i> <strong>Pay Type</strong> :    Debit</i></h2>
            <h2><i> <strong>Bank ID Account</strong> :    13123233123123</i></h2>
            <h2><i> <strong>Transaction ID</strong> :  22441</i></h2>

          </div>
          <div class="photo">
            <button routerLink = 'records' class="btn btn-primary" style="font-size: 24px;"><strong>Your payment records</strong></button>
          </div>
        </div>
      <router-outlet></router-outlet>
      </div>
</div>

